<% @articles.reverse.each do |article| %>
<div class="row justify-content-center">
    <div class="col-8 mt-4 mb-4">
            <div class="card shadow-sm bg-white rounded">
                <div class="card-header text-center font-italic dark-text">
                    par <%= link_to article.user.username, user_path(article.user),class: "dark-text article-title" %>
                </div>

                <div class="card-body dark-text">
                    <h5 class="card-title font-weight-bold"><%= link_to article.title, article_path(article), class: "dark-text article-title" %></h5>
                    <p class="card-text text-justify"><%= truncate(article.description, :length =>300)%></p>
                </div>

                <div class="card-footer text-muted ">
                <div class="row">
                    <div class="col-8 ">
                        <small>Créé il y a  <%= time_ago_in_words(article.created_at)%></small>
                        <small>| Modifié il y a <%= time_ago_in_words(article.updated_at)%></small>
                    </div>
                    <div class="col-4">
                        <%=link_to show_svg('trash_article.svg'), article_path(article), method: :delete, data: { confirm: "Êtes-vous sûr?" }, class: 'dark-text icon float-right'%>
                        <%=link_to show_svg('edit_article.svg'), edit_article_path(article), class: 'dark-text icon float-right mr-2'%>
                     </div>
                </div>     
                </div>
            </div>
    </div>
</div>
<% end %>