<h2 class="container text-center mt-4"> <%= @article.title %></h2>

<div class="row justify-content-center">
    <div class="col-8 mt-4 mb-4">
            <div class="card shadow-sm bg-white rounded">
                <div class="card-header font-italic dark-text ">
                <div class="row justify-content-center">
                     <%= link_to "par " + @article.user.username, user_path(@article.user), class: "dark-text article-title mr-2" %>
                    <%= link_to gravatar_for(@article.user,  size: 25), user_path(@article.user)%>
               </div>
                </div>

                <div class="card-body dark-text">
                    <div class="card-text text-justify"><%= simple_format(@article.description) %></div>
                </div>

                <div class="card-footer text-muted ">
                <div class="row">
                    <div class="col-8 ">
                        <small>Créé il y a  <%= time_ago_in_words(@article.created_at)%></small>
                        <small>| Modifié il y a <%= time_ago_in_words(@article.updated_at)%></small>
                    </div>
                    <!-- Makes the edit and delete actions only available if the user is logged in and if he's the author -->
                    <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
                        <div class="col-4">
                            <%=link_to show_svg('trash_article.svg'), article_path(@article), method: :delete, data: { confirm: "Êtes-vous sûr?" }, class: 'dark-text icon float-right'%>
                            <%=link_to show_svg('edit_article.svg'), edit_article_path(@article), class: 'dark-text icon float-right mr-2'%>
                        </div>
                    <% end %>
                </div>     
                </div>
            </div>
    </div>
</div>

