<div class="container">
    <%=render 'shared/errors', obj: @user%>
    <div id="article-form" class="p-4 shadow-sm rounded dark-text ">
    
        <%= form_with(model: @user, local: true) do |f|%>
            <div class="form-group-row mb-4">       
                <%= f.label :username, 'Nom d\'utilisateur', class: "col-sm col-form-label font-weight-bold light-text"%> 
                <div class="col-sm ">
                    <%= f.text_field :username, placeholder: 'Entrez un nom d\'utilisateur', class: "form-control shadow-sm" %>
                </div>
            </div>

            <div class="form-group-row mb-4">
                <%= f.label :email, class: "col-sm col-form-label font-weight-bold light-text"%> 
                <div class="col-sm">
                    <%= f.email_field :email, placeholder: 'Entrez une adresse email valide', class: "form-control shadow-sm"%> 
                </div>
            </div>

              <div class="form-group-row mb-4">
                <%= f.label :password, class: "col-sm col-form-label font-weight-bold light-text"%> 
                <div class="col-sm">
                    <%= f.password_field :password, placeholder: 'Entrez un mot de passe', class: "form-control shadow-sm"%> 
                </div>
            </div>
    
            <div class="row justify-content-center">
            
                <%=f.submit(@user.new_record? ? "S\'inscrire" : "Mettre à jour", class: "btn btn-outline-light btn-lg")%>
                <%= link_to "Annuler", user_path(@user), class: "btn btn-outline-light btn-lg ml-4"%>       
            </div>
        <% end %>
    </div>
</div>
